.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
   padding: 10px;
}
.dialogsItems .active {
    color: gold;
}


.messages {
    margin-top: 25px;
}

.item {
    width: 50px;
    border-radius: 50%;
}
